
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

You've submitted your dispute

@*<div class="quick-action-container col-lg-3">
    <div class="quick-action-button">
        <p>
            @Html.ActionLink(
                linkText: "Back to account detail page",
                actionName: "Detail",
                controllerName: "",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
        </p>
</div>*@