
    <!-- this is the welcome page to the website
    
    from here users can
    
    - log in
    - register with us/make an account

    -->
@{ 
    ViewBag.Title = "welcome";
}

<link rel="stylesheet" type="text/css" href="../css/Home.css"/>
<div class="hero">
    <div class="row">
        <h2>reimagining student banking</h2>
    </div>
</div>



