
    <!-- this is the welcome page to the website
    
    from here users can
    
    - log in
    - register with us/make an account

    -->
<link href="../css/General.css" rel="stylesheet" type="text/css" />

<div class="hero">
    <h2>reimagining student banking</h2>
</div>



