
    <!-- this is the welcome page to the website
    
    from here users can
    
    - log in
    - register with us/make an account

    -->

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Longhorn Bank!</h2>

<form>
    <input type="button" value="Make an account" onclick="" />
</form>
