<!-- This is the home page for employees
    - Show button to edit employee detail
    - Show List All customers with buttons to disable/enable accounts
    - Button: Transaction Search
    
    
    -->
@{
    ViewBag.Title = "EmployeeHome";
}

<h2>EmployeeHome</h2>

