<!--This page will ask the user to pick an account type to create. 
    It will send user to a page to create that account (ex: CheckingAccountsController.CreateAccount Action)-->
@{
    ViewBag.Title = "ChooseAccount";
}

<h2>ChooseAccount</h2>

