/*
NAVIGATION

    1. STOCK PORTFOLIO
    2. LOGIN

*/

/* 1. STOCK PORTFOLIO
____________________________________________________________________*/
.form-container {
    padding: 20px;
    padding-top: 40px;
}

.form-container p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: black;
    text-transform: uppercase;
    text-align: left;
    line-height: 20px;
}

.form-table-container {
    padding: 20px;
}
.form-display-table {
    background-color: #F3F3F3;
    margin-bottom: 20px;
}

.form-table-container p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: black;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
}

.color {
    background-color: #6497D1;
    color: white;
    border: 0px;
    width: 100px;
}

.color:hover {
    background-color: #3F6187;
    color: white;
}

.form-control {
    margin-top: 5px;
}

/* 2. LOGIN PAGE
____________________________________________________________________*/

.login-container {
    height: 600px;
    padding: 20px;
    text-align: center;
}

.login-top {
    text-align: center !important;
}

#loginForm {
    display: block;
    margin-left: 300px;
}

.submit-btn {
    width: 90% !important;
}

.login-buttons {
    text-align: center;
    padding-left: 20px;
}

.login-buttons p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #333;
    text-transform: uppercase;
}

.login-buttons a {
    color: #666;
    text-transform: uppercase;
}