<!-- This page shows detail for one checking account
    Information needed on this page:
    - Balance
    - List of transactions 

    -->
@{
    ViewBag.Title = "Transactions";
}

<h2>@ViewBag.Title</h2>





