@{
    ViewBag.Title = "confirm stock purchase";
}


<div class="row">
    <div class="homepage-top">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
        </dd>
    </dl>
</div>

