@{
    ViewBag.Title = "purchase stock";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*date*@

        <p>Available Accounts for Purchasing</p>
       <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Balance
                </th>
            </tr>
           @foreach (var a in ViewBag.AllAccounts)
           {
               <tr>
                   <td>
                       a.AccountName
                   </td>
                   <td>
                       a.Balance
                   </td>
               </tr>
           }
       </table>

        @Html.DropDownList("SelectedAccount", (SelectList)ViewBag.SelectAccount, new { @class= "form-control" } )
        <br /><br />

        @*TODO: Display available stocks to purchase*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*quantity*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

