

@{
    ViewBag.Title = "Error"; 
    }


<br />

<h2>AHH!! SOMETHING HORRIBLE HAS HAPPENED!!</h2>

<body>

    <br />
    <br />
    <br />
    <br />

    <div class="hero">
        Hmm... We're not exactly sure what went wrong, but maybe try @ViewBag.Error?

        <br />
        <br />
        <br />
        <br />


        @Html.ActionLink(
    linkText: "OK, I promise I'll do better...",
    actionName: "Index",
    controllerName: "Home",
    htmlAttributes: null,
    routeValues: new { @class = "btn btn-success" })

    </div>
</body>
