
@{
    ViewBag.Title = "ChooseTransaction";
}

<h2>ChooseTransaction</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="item">
                @Html.ActionLink("Deposit", "Deposit")
            </div>
        </div>
        <div class="col">
            <div class="item">
                @Html.ActionLink("Withdraw", "Withdraw")
            </div>
        </div>
        <div class="col">
            <div class="item">
                @Html.ActionLink("Transfer", "Transfer")
            </div>
        </div>
    </div>
</div>


