<!-- This page shows detail for one transaction
    Information needed on this page:
    - description
    - transaction type
    - amount
    - transaction number
    - comments added by employee
    - option to dispute transaction
    - option to include short message for management in dispute

    -->

@{
    ViewBag.Title = "Transaction Detail";
}

<h2>Transaction Detail</h2>


