
@{
    ViewBag.Title = "DepositLimitError";
}

<h2>DepositLimitError</h2>

We're sorry, but you cannot deposit more than $5000 into your IRA this year.

The max amount you can deposit is @ViewBag.MaxDepositAmount 

Click here to automatically deposit this amount

@Html.ActionLink(
                linkText: "Automatically deposit this amount",
                actionName: "AutoCreateIRA",
                controllerName: "Deposit",
                routeValues: new { t =  ViewBag.Transaction},
                htmlAttributes: null)